<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/history">Club History</a></li>
      <li><a href="/games">Games We Play</a></li>
      <li><a href="/members">Members</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/links">Links</a></li>
    </ul>
  </nav>